*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: #F6741B;
}

/* Header starts here */
header{
    background-image: url(Images/HEADER.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

nav{
    /* padding: 10px 0px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid #1E1E1E 0.5px;
    /* position:fixed;  */
    top: 0;
    width: 100%;
    /* z-index: 1;
    background: #1e1e1e; 
    opacity: 0.1; */
}

nav img{
    width: 124px;
    height: 92px;
    margin: 20px 0px;
}

.nav-links li{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
}

.nav-links li a:hover{
    color: #F6741B;
}

nav button{
    padding: 16px 30px;
    border-radius: 40px;
    border-color: none;
    background-color: #F6741B;
    color: white;
}

nav button:hover{
    background-color: white;
    color: #F6741B;
}

main{
    text-align: center;
    padding: 200px 0px;
}

main h1{
    color: white;
    font-size: 48px;
}

main p{
    margin: 30px 0px;
    color: white;
    font-size: 18px;
}

main .btn-pry{
    padding: 16px 30px;
    border-radius: 40px;
    border-color: none;
    background-color: #F6741B;
    color: white;
    margin-right: 30px;
}

main .btn-pry:hover{
    background-color: white;
    color: #F6741B;
}

main .btn-sec{
    padding: 16px 30px;
    border-radius: 40px;
    background: none;
    color: white;
    border-color: white;    
}

.btn-sec a{
    text-decoration: none;
    color: white;
}

main .btn-sec:hover{
    background-color: white;
    color: #F6741B;
}

.btn-sec a:hover{
    background-color: white;
    color: #F6741B;
}
/* Header ends here */

/* About starts here */
.about{
    background-color: #101318;
    color: white; 
    padding: 100px 100px;
    border-bottom: solid #1E1E1E 0.5px;
}

section .hero{
    display: flex;
}

section img{
    width: 493px;
    height: 504px;
}

.hero-text{
    margin-left: 200px;
}

.hero-text span{
    color: #F6741B;
    font-size: 16px;
    margin-bottom: 10px;
}

.hero-text h1{
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.hero-text img{
    width: 50px;
    height: 50px;
}

.hero-text p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.hero-icons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 150px;
}

.hero-icons img{
    width: 40px;
    height: 40px;
}

.hero-icons h4{
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-icons p{
    text-align: center;
    font-size: 18px;
}
/* About ends here */

/* Menu starts here */
.menu{
    background-color: #101318;
    color: white; 
    padding: 100px 100px;
    border-bottom: solid #1E1E1E 0.5px;
}

.menu .menu-text{
    display: flex;
    flex-direction: center;
    gap: 20px;
    margin-left: 530px;
}

.menu .menu-text .popular{
    color: white;
    font-size: 48px;
}

.menu .menu-text .popular2{
    color: #F6741B;
    font-size: 48px;
}

.menu .dis{
    font-size: 18px;
    width: 600px;
    text-align: center;
    margin-left: 380px;
    margin-top: 30px;
    line-height: 1.8;
}

.grid-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-menu .menu-cards{
    background-color: white;
    color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 300px;
    margin-top: 50px;
}

.menu-cards{
    display: grid;
}

.menu-cards:hover{
    transition: ease-in 0.5s;
    transform: scale(1.10);
}

.menu-cards img{
    width: 300px;
    height: 200px;
}

.menu-cards h5{
    padding: 15px 0px 0px 20px;
    font-size: 16px;
}

.menu-cards p{
    padding: 10px 20px;
    font-size: 16px;
}

.menu-cards .price{
    padding: 5px;
    gap: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    font-weight: bold;
}

section .add{
    padding: 6px 6px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border-color: #F6741B;
    background-color: #F6741B;
    color: white;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 12px;
}

section .add:hover{
    background-color: white;
    color: #F6741B;
}

section .btn-pry{
    padding: 16px 30px;
    border-radius: 40px;
    border-color: none;
    background-color: #F6741B;
    color: white;
    margin-top: 50px;
    margin-left: 600px;
}

section .btn-pry:hover{
    background-color: white;
    color: #F6741B;
}

.btn-pry a{
    text-decoration: none;
    color: white;
}

.btn-pry a:hover{
    background-color: white;
    color: #F6741B;
}
/* Menu ends here */

/* Contact starts here */
.contact-us{
    background-image: url(Images/CONTACT.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #101318;
    color: white; 
    padding: 100px 100px;
    border-bottom: solid #1E1E1E 0.5px;
}

.contact .contact-text{
    display: flex;
    flex-direction: center;
    gap: 20px;
    margin-left: 380px;
}

.contact .contact-text .popular{
    color: white;
    font-size: 48px;
}

.contact .contact-text .popular2{
    color: #F6741B;
    font-size: 48px;
}

.contact .dis{
    font-size: 18px;
    width: 600px;
    text-align: center;
    margin-left: 380px;
    margin-top: 30px;
    line-height: 1.8;
}

.contact-body{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.contact-body .details{
    padding-top: 100px;
    margin-left: 100px;
}

.contact-body li{
    list-style: none;
    margin-bottom: 30px;
}

.contact-body li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.fa-whatsapp{
    color: green;
    font-size: 18px;
}

.fa-phone{
    color: #CC933C;
    font-size: 18px;
}

.fa-location{
    color: #D53B1F;
    font-size: 18px;
}

.fa-clock{
    color: white;
    font-size: 18px;
}

.contact-body .form input{
    margin: 5px 20px;
    padding: 12px;
    border: 1px solid;
    width: 500px;
    height: 60px;
    font-size: 16px;
}

.contact-body .form textarea{
    margin: 5px 20px;
    padding: 12px;
    border: 1px solid;
    width: 500px;
    height: 200px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.form .submit-btn{
    margin: 5px 20px;
    padding: 12px;
    background-color: #F6741B;
    color: white;
    width: 500px;
    font-size: 16px;
}
/* Contact ends here */

/* Footer starts here */
footer{
    background-color: #F6741B;
    color: black;
}

.footer-wrap{
    border-bottom: solid #000;
}

.footer-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

footer img{
    width: 124px;
    height: 92px;
    margin: 50px 0px;
    margin-left: 120px;
}

.footer h4{
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.footer-links a{
    text-decoration: none;
    display: block;
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-links a:hover{
    color: white;
}

.footer-socials i{
    font-size: 20px;
}

.footer-socials:hover i{
    color: white;
}

footer .copyright{
    text-align: center;
    margin: 50px 0px;
}
/* Footer ends here */



/* Media query */
@media screen and (max-width:850px) {
    /* Header starts here */
    .nav-links li{
        display: none;
    }

    nav button{
        display: none;
    }

    nav img{
        padding: 0;
    }

    main{
        padding-top: 120px;
    }

    main p{
        margin: 30px 0;
        margin-left: 40px;
        width: 80%;
        line-height: 1.8;
    }
    /* Header ends here */

    /* About starts here */
    section .hero{
        flex-direction: column-reverse;
    }

    .hero .hero-text img{
        width: 50px;
        height: 50px;
    }

    .hero-text{
        margin-left: 0px;
    }

    .hero span{
        margin-top: 0px;
    }

    .hero-text h1{
        margin: 30px 0px;
        width: 100%;
        font-size: 38px;
    }

    .hero-text p{
        width: 100%;
    }

    .hero img{
        width: 400px;
        height: 350px;
        margin-left: 0;
    }

    .about{
        padding: 50px;
    }

    .hero-icons{
        display: flex;
        gap: 70px;
    }

    .hero-icons .hi img{
        width: 50px;
        height: 50px;
    }

    .hero-icons p{
        font-size: 13px;
    }
    /* Abiut ends here */

    /* Menu starts here */
    .menu{
        padding: 0px;
        padding-top: 30px;
    }

    .menu .menu-text{
        display: flex;
        margin-left: 90px;
    }

    /* .menu .menu-text .popular{
        margin-left: 120px;
        margin-bottom: 10px;
    }

    .menu .menu-text .popular2{
        margin-left: 140px;
    } */

    .menu .dis{
        margin-left: 45px;
        width: 400px;
    }

    .grid-menu{
        display: block;
        margin-left: 120px;
    }

    section .btn-pry{
        margin: 30px 0px 30px 210px;
    }
    /* Menu ends here */

    /* Contact starts here */
    .contact-us{
        padding: 0px;
        padding-top: 30px;
    }

    .contact .contact-text{
        display: block;
        margin-left: 40px;
    }

    .contact .contact-text .popular{
        margin-left: 120px;
        margin-bottom: 10px;
    }

    .contact .contact-text .popular2{
        margin-left: 0px;
        margin-right: 20px;
        text-align: center;
    }

    .contact .dis{
        margin-left: 80px;
        width: 400px;
    }

    .contact-body{
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-body .form input{
        width: 480px;
    }

    .contact-body .form textarea{
        width: 480px;
    }

    .form .submit-btn{
        width: 480px;
    }

    .contact-body .details{
    margin-left: 120px;
    }

    .contact-us{
    height: 150vh;
    }
    /* Contact ends here */

    /* Footer starts here */
    footer img{
        margin-left: 200px;
    }

    .footer-wrap{
        display: flex;
        flex-direction: column;
    }

    .footer-links{
        margin-left: 200px;
    }

    .footer-socials{
    margin-bottom: 50px;
    }
    /* Footer ends here */
}
